 /* CSS Reset */
* {
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
	outline: none;
	font-weight: normal;
}
a {
	color: #ED2553;
	text-decoration: none;
}

a:hover {
	color: #ED2553;
	text-decoration: underline;
}

canvas {
	max-height: 50vh;
}

h3 {
	margin: 0; 
	text-align: center;
	font-size: 1.2rem; 
}

.signed {
	background-color: #ffff66;
	color: #000;
	padding: 0.2rem 1rem;
}

.registered {
	background-color: #ED2553;
	color: white;
	padding: 0.2rem 1rem;
}

td .signed, td.registered {
	padding: auto;
}

caption {
	font-size: 1rem;
}

#signed div {
	margin-bottom: 1rem;
}

#signed div h3 {
	margin: 1rem auto;
	text-align: center;
}

#signed span {
	display: inline-block;
	padding: 5px 10px 5px 0;	
}

.container {
	width: 100%;
	margin: 0 auto;
}
/* Backend Panel Start */
.clear-backend {
	background: #fff;
	width: 100%;
	position: relative;
}
.clear-backend > input {
	position: absolute;
	filter: alpha(opacity=0);
	opacity: 0;
}
.clear-backend > input:hover {
	cursor: pointer;
}
.clear-backend > input:hover + span,
.clear-backend > input:checked + span {
	background: #ED2553;
	color: white;
}
.clear-backend > input:checked + span + i {
	color: #ED2553;
}
.clear-backend > i {
	position: absolute;
	margin-top: -40px;
	padding: 0 20px;
	font-size: 20px;
}
.clear-backend > span,
.clear-backend > i {
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s;
}

.s {
	display: inline-block;
	width: 80px;
	height: 30px;
	background: #ED2553;
	text-align: center;
	color: white;
	line-height: 30px;
}

.clear-backend > input,
.clear-backend > span {
	background: #fff;
	color: #ED2553;
	border-right: 1px solid #ED2553;
	border-bottom: 1px solid #ED2553;
	display: block;
	width: 200px;
	height: 54px;
	line-height: 54px;
	word-wrap: normal;
	text-align: center;
	z-index: 9;
}
.tab-content {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 200px);
	height: 138%;
}
.tab-content section {
	position: absolute;
	width: 100%;
	padding: 20px;
	display: none;
}
.clear-backend > input.tab-1:checked ~ .tab-content .tab-item-1 {
	display: block;
}
.clear-backend > input.tab-2:checked ~ .tab-content .tab-item-2 {
	display: block;
}
.clear-backend > input.tab-3:checked ~ .tab-content .tab-item-3 {
	display: block;
}
.clear-backend > input.tab-4:checked ~ .tab-content .tab-item-4 {
	display: block;
}
.clear-backend > input.tab-5:checked ~ .tab-content .tab-item-5 {
	display: block;
}
.clear-backend > input.tab-6:checked ~ .tab-content .tab-item-6 {
	display: block;
}
.clear-backend > input.tab-7:checked ~ .tab-content .tab-item-7 {
	display: block;
}
.clear-backend > input.tab-8:checked ~ .tab-content .tab-item-8 {
	display: block;
}
.clear-backend > input.tab-9:checked ~ .tab-content .tab-item-9 {
	display: block;
}
.clear-backend > input.tab-10:checked ~ .tab-content .tab-item-10 {
	display: block;
}
.clear-backend > input.tab-11:checked ~ .tab-content .tab-item-11 {
	display: block;
}
.clear-backend > input.tab-12:checked ~ .tab-content .tab-item-12 {
	display: block;
}
/* Responsive */
@media screen and (max-width: 1367px) {
}
@media screen and (max-width: 1281px) {
}
@media screen and (max-width: 1025px) {
}
@media only screen and (max-width: 961px) {
}
@media only screen and (max-width: 641px) {
	.clear-backend > input,
	.clear-backend > span {
		width: 80px;
	}
	.tab-content {
	width: calc(100% - 80px);
	}
}
@media only screen and (max-width: 481px) {
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1em;
    margin: .5em;
  }

  table th {
    background-color: #f8f8f8;
  }
  
  table tr {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: .35em;
  }

  table tr:nth-child(even) {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }